<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe2zw8OwAgcu_CjOwH4rbpdFDPyMk4BfY</string>
	<key>GCM_SENDER_ID</key>
	<string>94412646522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uma.pciApp</string>
	<key>PROJECT_ID</key>
	<string>pci-app-6be73</string>
	<key>STORAGE_BUCKET</key>
	<string>pci-app-6be73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94412646522:ios:fe51e355a6022a9d0eb3c3</string>
</dict>
</plist>